/* head */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFEEDB; /* f8f9fa */
}

.header-left{
    color: white;
    text-decoration: none;
    border-radius: 12px; 
    font-family: 'Comic Sans MS';
    background-color: brown;
    color: white;
}

.header-right a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    border-radius: 12px; 
    font-family: 'Comic Sans MS';
    background-color: brown;
    color: white;
}

.header-right a:hover {
    color: #e0e6ec;
}

/* body */

body {
    font-family: Arial, sans-serif;
    background-color: #FFEEDB;
    font-family: 'Comic Sans MS'
    
}

h1{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #AA8F66;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #929292; /* Cambia el color del borde a negro */
}

tr:hover {background-color: #f5f5f5;}

a {
    color: white; 
    transition: color 0.3s ease; /* Agrega una transición suave al cambiar el color */
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    background-color: brown;
}

a:hover {
    color: rgb(255, 255, 255); /* Cambia el color a negro sólido al pasar el mouse */
    background-color: #5a6268;
}

.delete-form {
    display: inline-block;
}

.delete-button {
    background-color: #BA3B46;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Comic Sans MS';
    border-radius: 12px;    
}

.delete-button:hover {
    background-color: #86242e;
}

p {
    text-align: center;
    color: red;
}

#IR,#VA{
    background-color: green;
    border-radius: 12px; 
}

#EDIT, #CA{
    background-color: goldenrod;
    border-radius: 12px; 
}


table{
    width: 50%;
    margin-left: 25%;
}



table tr:first-child th:first-child {
    border-top-left-radius: 12px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 12px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}